body {
  text-align: center;
  width: 600px;
  padding-left: 450px;
  background-image: url(../media/pexels-burak-the-weekender-735869.jpg);
  background-size: cover;
  background-position: center;
}

h1 {
  font-size: 100px;
  padding-top: 25px;
  margin-top: 25px;
  /* font-family: 'Shadows Into Light', cursive; */
  font-family: "Island Moments", cursive;
}

.content p {
  font-size: 35px;
  color: black;
}

a {
  font-size: 25px;
  color: rgb(56, 13, 13);
  font-style: italic;
}

a:hover {
  color: navy;
}
